{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_main_temp.css' %}">
    <title>Crear elemento no básico</title>
</head>
<body>
    <div class="w3-sand w3-grayscale w3-large">
        <div class="w3-container w3-center w3-padding-64" >
            <div class="w3-content w3-padding-64" style="max-width:600px">
                <div class="w3-row w3-center w3-card w3-padding">
                    <form method="post"> {% csrf_token %}
                        {{form.non_field_errors }}
                        {{form.name.errors}}
                        <label style="font-size: 21px;" for="{{form.name.id_for_label}}">{{form.name.label}}</label>
                        <input class="w3-input w3-padding-16 w3-border" type="text" id='{{ form.name.id_for_label }}' name="{{ form.name.html_name }}" placeholder="Nombre" {% if not form.name.value is None %} value="{{form.name.value}}" {% endif %}>
                        {{form.element1.errors}}
                        <label style="font-size: 21px;" for="{{form.element1.id_for_label}}">{{form.element1.label}}</label>
                        <select class="w3-input w3-padding-16 w3-border" name="{{form.element1.html_name}}">
                            {% for id,name in basic_elements %}
                                <option value="{{id}}">{{name}}</option>
                            {% endfor %}
                        </select>
                        {{form.element2.errors}}
                        <label style="font-size: 21px;" for="{{form.element2.id_for_label}}">{{form.element2.label}}</label>
                        <select class="w3-input w3-padding-16 w3-border" name="{{form.element2.html_name}}">
                        {% for id,name in basic_elements %}
                            <option value="{{id}}">{{name}}</option>
                        {% endfor %}
                        </select>
                        {{form.justification.errors}}
                        <label style="font-size: 21px;" for="{{form.justification.id_for_label}}">{{form.justification.label}}</label>
                        <input class="w3-input w3-padding-16 w3-border" type="text" id='{{ form.justification.id_for_label }}"' name="{{ form.justification.html_name }}" placeholder="Justificación" {% if not form.justification.value is None %} value="{{form.justification.value}}" {% endif %}>       
                        <div class="w3-padding-32">
                            <button class="w3-button w3-tag w3-dark-grey" type="submit">Crear o Editar</button> 
                        </div>
                    </form>
                </div> 
            </div>
        </div>
    </div>

    <footer class="w3-center w3-light-grey w3-padding-48 w3-large">
        <p>Powered by MATCOM</a></p>
    </footer>
</body>

</html>