<!-- This template of the HomePage is a child of MainTemplate -->
{% extends "_main_template.html" %}

<!-- Load static files -->
{% load static %}

<!-- Put title -->
{%block title%}
Eliminar estdudiar
{% endblock %}

<!-- Put content -->
{% block content %}
    <form method="post"> {% csrf_token %}
    <h1>Seguro desea eliminar que el estudiante {{study.student.username}} cursa la asignatura {{study.subject.name}}?</h1>
    <button type="submit">Confirmar</button>
    <a href={%url 'subject_admin' study.subject.id%}>Cancelar</a>
</form>
{% endblock %}