<!-- This template of the HomePage is a child of MainTemplate -->
{% extends "_main_template.html" %}

<!-- Load static files -->
{% load static %}

<!-- Put title -->
{%block title%}
Eliminar impartir
{% endblock %}

<!-- Put content -->
{% block content %}
    <form method="post"> {% csrf_token %}
    <h1>¿Seguro desea eliminar que el profesor {{imparts.professor.username}} imparte la asignatura {{imparts.subject.name}}?</h1>
    <button type="submit">Confirmar</button>
    <a href={%url 'subject_admin' imparts.subject.id%}>Cancelar</a>
</form>
{% endblock %}