{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_main_temp.css' %}">
    <title>Consultas disponibles</title>
</head>
<body>
    <div class="w3-sand w3-grayscale w3-large">
        <div class="w3-container w3-center w3-padding-64" >
            <div class="w3-content w3-padding-32" style="max-width:600px">
                <h4 class="w3-center w3-padding-32"><span class="w3-tag w3-wide">Estudiantes con mas créditos</span></h4>
                <div class="w3-row w3-center w3-card w3-padding">
                    <form action="{% url 'queries_result' %}" method="post"> {% csrf_token %}
                        <label style="font-size: 21px;" for="numeroEstudiante">Numero de Estudiantes: </label>
                        <input class="w3-input w3-padding-16 w3-border" type="number" name="n_students_credits" min=1 value="10">                        
                        <div class="w3-padding-16">
                            <input class="w3-button w3-tag w3-dark-grey" type="submit" value="Consultar">
                            <input type="hidden" name="form-type" value="moreCredits"/>
                        </div>
                    </form>
                </div> 
            </div>
            <div class="w3-content w3-padding-64" style="max-width:600px">
                <h4 class="w3-center w3-padding-32"><span class="w3-tag w3-wide">Estudiantes con mas elementos creados</span></h4>
                <div class="w3-row w3-center w3-card w3-padding">
                    <form action="{% url 'queries_result' %}" method="post"> {% csrf_token %}
                        <label style="font-size: 21px;" for="numeroEstudiante1">Numero de Estudiantes: </label>
                        <input class="w3-input w3-padding-16 w3-border" type="number" name="n_students_elemCreated" min=1 value="10"> 
                        <div class="w3-padding-16">
                            <input class="w3-button w3-tag w3-dark-grey" type="submit" value="Consultar">
                            <input type="hidden" name="form-type" value="moreElemCreated"/>
                        </div>
                    </form>
                </div> 
            </div>
            <div class="w3-content w3-padding-64" style="max-width:600px">
                <h4 class="w3-center w3-padding-32"><span class="w3-tag w3-wide">Elementos mas utilizados para realizar mezclas</span></h4>
                <div class="w3-row w3-center w3-card w3-padding">
                    <form action="{% url 'queries_result' %}" method="post"> {% csrf_token %}
                        <label style="font-size: 21px;" for="numeroElem1">Número de Elementos: </label>
                        <input class="w3-input w3-padding-16 w3-border" type="number" name="n_elements_basic" min=1 value="10">
                        <label style="font-size: 21px;" for="subjectname1">Asignatura: </label>
                        <select class="w3-input w3-padding-16 w3-border" name="subject_name" >
                            {% for name,name1 in subjects %}
                                <option value="{{name}}">{{name}}</option>
                            {% endfor %}
                        </select>
                        <div class="w3-padding-16">
                            <input class="w3-button w3-tag w3-dark-grey" type="submit" value="Consultar">
                            <input type="hidden" name="form-type" value="moreBasicElemUsed"/>
                        </div>
                    </form>
                </div> 
            </div>
            <div class="w3-content w3-padding-64" style="max-width:600px">
                <h4 class="w3-center w3-padding-32"><span class="w3-tag w3-wide">Elementos más valiosos de los elementos no básicos</span></h4>
                <div class="w3-row w3-center w3-card w3-padding">
                    <form action="{% url 'queries_result' %}" method="post"> {% csrf_token %}
                        <label style="font-size: 21px;" for="numeroElem2">Número de Elementos: </label>
                        <input class="w3-input w3-padding-16 w3-border" type="number" name="n_elements_noBasic" min=1 value="10">
                        <label style="font-size: 21px;" for="subjectname2">Asignatura: </label>
                        <select class="w3-input w3-padding-16 w3-border" name="subject_name" >
                            {% for name,name1 in subjects %}
                                <option value="{{name}}">{{name}}</option>
                            {% endfor %}
                        </select>
                        <div class="w3-padding-16">
                            <input class="w3-button w3-tag w3-dark-grey" type="submit" value="Consultar">
                            <input type="hidden" name="form-type" value="moreValNoBasicElem"/>
                        </div>
                    </form>
                </div> 
            </div>
            <div class="w3-content w3-padding-64" style="max-width:600px">
                <h4 class="w3-center w3-padding-32"><span class="w3-tag w3-wide">Elementos más valiosos de los elementos básicos</span></h4>
                <div class="w3-row w3-center w3-card w3-padding">
                    <form action="{% url 'queries_result' %}" method="post"> {% csrf_token %}
                        <label style="font-size: 21px;" for="numeroElem3">Número de Elementos: </label>
                        <input class="w3-input w3-padding-16 w3-border" type="number" name="n_elements_valbasic" min=1 value="10">
                        <label style="font-size: 21px;" for="subjectname3">Asignatura: </label>
                        <select class="w3-input w3-padding-16 w3-border" name="subject_name" >
                            {% for name,name1 in subjects %}
                                <option value="{{name}}">{{name}}</option>
                            {% endfor %}
                        </select>
                        <div class="w3-padding-16">
                            <input class="w3-button w3-tag w3-dark-grey" type="submit" value="Consultar">
                            <input type="hidden" name="form-type" value="moreValBasicElem"/>
                        </div>
                    </form>
                </div> 
            </div>
            <div class="w3-content w3-padding-64" style="max-width:600px">
                <h4 class="w3-center w3-padding-32"><span class="w3-tag w3-wide">Elementos creados en el día</span></h4>
                <div class="w3-row w3-center w3-card w3-padding">
                    <form action="{% url 'queries_result' %}" method="post"> {% csrf_token %}
                        <label style="font-size: 21px;" for="day">Día: </label>
                        <input class="w3-input w3-padding-16 w3-border" type="number" name="day" min=1 max=31 value="1">
                        <div class="w3-padding-16">
                            <input class="w3-button w3-tag w3-dark-grey" type="submit" value="Consultar">
                            <input type="hidden" name="form-type" value="elemCreatedDay"/>
                        </div>
                    </form>
                </div> 
            </div>
            <div class="w3-content w3-padding-64" style="max-width:600px">
                <h4 class="w3-center w3-padding-32"><span class="w3-tag w3-wide">Elementos creados en el mes</span></h4>
                <div class="w3-row w3-center w3-card w3-padding">
                    <form action="{% url 'queries_result' %}" method="post"> {% csrf_token %}
                        <label style="font-size: 21px;" for="team_name">Mes: </label>
                        <input class="w3-input w3-padding-16 w3-border" type="number" name="month" min=1 max=12 value="1">
                        <div class="w3-padding-16">
                            <input class="w3-button w3-tag w3-dark-grey" type="submit" value="Consultar">
                            <input type="hidden" name="form-type" value="elemCreatedMonth"/>
                        </div>
                    </form>
                </div> 
            </div>
            <div class="w3-content w3-padding-64" style="max-width:600px">
                <h4 class="w3-center w3-padding-32"><span class="w3-tag w3-wide">Elementos creados en el año</span></h4>
                <div class="w3-row w3-center w3-card w3-padding">
                    <form action="{% url 'queries_result' %}" method="post"> {% csrf_token %}
                        <label style="font-size: 21px;" for="year">Año: </label>
                        <input class="w3-input w3-padding-16 w3-border" type="number" name="year" min=2000 value=2021>
                        <div class="w3-padding-16">
                            <input class="w3-button w3-tag w3-dark-grey" type="submit" value="Consultar">
                            <input type="hidden" name="form-type" value="elemCreatedYear"/>
                        </div>
                    </form>
                </div> 
            </div>
            <div class="w3-content w3-padding-64" style="max-width:600px">
                <h4 class="w3-center w3-padding-32"><span class="w3-tag w3-wide">Elementos creados en un intervalo de fechas</span></h4>
                <div class="w3-row w3-center w3-card w3-padding">
                    <form action="{% url 'queries_result' %}" method="post"> {% csrf_token %}
                        <label style="font-size: 21px;" for="intervalDates">Fecha Inicial: </label>
                        <input class="w3-input w3-padding-16 w3-border" type="date" name="initial_date">
                        <label style="font-size: 21px;" for="intervalDates1">Fecha Final: </label>
                        <input class="w3-input w3-padding-16 w3-border" type="date" name="final_date">
                        <div class="w3-padding-16">
                            <input class="w3-button w3-tag w3-dark-grey" type="submit" value="Consultar">
                            <input type="hidden" name="form-type" value="elemCreatedDates"/>
                        </div>
                    </form>
                </div> 
            </div>
            <div class="w3-content w3-padding-64" style="max-width:600px">
                <h4 class="w3-center w3-padding-32"><span class="w3-tag w3-wide">Ranking de estudiantes en una asignatura</span></h4>
                <div class="w3-row w3-center w3-card w3-padding">
                    <form action="{% url 'queries_result' %}" method="post"> {% csrf_token %}
                        <label style="font-size: 21px;" for="subjectname4">Asignatura: </label>
                        <select class="w3-input w3-padding-16 w3-border" name="subject_name" >
                            {% for name,name1 in subjects %}
                                <option value="{{name}}">{{name}}</option>
                            {% endfor %}
                        </select>
                        <div class="w3-padding-16">
                            <input class="w3-button w3-tag w3-dark-grey" type="submit" value="Consultar">
                            <input type="hidden" name="form-type" value="subjStudentsCredits"/>
                        </div>
                    </form>
                </div> 
            </div>
            <div class="w3-content w3-padding-64" style="max-width:600px">
                <h4 class="w3-center w3-padding-32"><span class="w3-tag w3-wide">Estudiantes con más créditos acumulados en una asignatura</span></h4>
                <div class="w3-row w3-center w3-card w3-padding">
                    <form action="{% url 'queries_result' %}" method="post"> {% csrf_token %}
                        <label style="font-size: 21px;" for="numeroEstudiante6">Numero de estudiantes: </label>
                        <input class="w3-input w3-padding-16 w3-border" type="number" name="n_students_subCredits" min=1 value="10">
                        <label style="font-size: 21px;" for="subjectname5">Asignatura:</label>
                        <select class="w3-input w3-padding-16 w3-border" name="subject_name" >
                            {% for name,name1 in subjects %}
                                <option value="{{name}}">{{name}}</option>
                            {% endfor %}
                        </select>
                        <div class="w3-padding-16">
                            <input class="w3-button w3-tag w3-dark-grey" type="submit" value="Consultar">
                            <input type="hidden" name="form-type" value="subjStudentsCreditsN"/>
                        </div>
                    </form>
                </div> 
            </div>
            <div class="w3-content w3-padding-64" style="max-width:600px">
                <h4 class="w3-center w3-padding-32"><span class="w3-tag w3-wide">Estudiante con mas créditos acumulados por cada asignatura</span></h4>
                <div class="w3-row w3-center w3-card w3-padding">
                    <form action="{% url 'queries_result' %}" method="get"> {% csrf_token %}
                        <label style="font-size: 21px;" for="mejorEstudiante"> Mejor estudiante por asignatura: </label>
                        <div class="w3-padding-16">
                            <input class="w3-button w3-tag w3-dark-grey" type="submit" value="Consultar">
                        </div>
                    </form>
                </div> 
            </div>
            <div class="w3-content w3-padding-64" style="max-width:600px">
                <h4 class="w3-center w3-padding-32"><span class="w3-tag w3-wide">Ranking de estudiantes por créditos totales en un intervalo de fechas</span></h4>
                <div class="w3-row w3-center w3-card w3-padding">
                    <form action="{% url 'queries_result' %}" method="post"> {% csrf_token %}
                        <label style="font-size: 21px;" for="intervalDates2">Fecha Inicial: </label>
                        <input class="w3-input w3-padding-16 w3-border" type="date" name="initial_date">
                        <label style="font-size: 21px;" for="intervalDates3">Fecha Final: </label>
                        <input class="w3-input w3-padding-16 w3-border" type="date" name="final_date">
                        <div class="w3-padding-16">
                            <input class="w3-button w3-tag w3-dark-grey" type="submit" value="Consultar">
                            <input type="hidden" name="form-type" value="rankingDatesTotalCredits"/>
                        </div>
                    </form>
                </div> 
            </div>
            <div class="w3-content w3-padding-64" style="max-width:600px">
                <h4 class="w3-center w3-padding-32"><span class="w3-tag w3-wide">Ranking de estudiantes por créditos en una asignatura en un intervalo de fechas</span></h4>
                <div class="w3-row w3-center w3-card w3-padding">
                    <form action="{% url 'queries_result' %}" method="post"> {% csrf_token %}
                        <label style="font-size: 21px;" for="intervalDates4">Fecha Inicial: </label>
                        <input class="w3-input w3-padding-16 w3-border" type="date" name="initial_date">
                        <label style="font-size: 21px;" for="intervalDates5">Fecha Final: </label>
                        <input class="w3-input w3-padding-16 w3-border" type="date" name="final_date">
                        <label style="font-size: 21px;" for="subjectname6">Asignatura: </label>
                        <select class="w3-input w3-padding-16 w3-border" name="subject_name" >
                            {% for name,name1 in subjects %}
                                <option value="{{name}}">{{name}}</option>
                            {% endfor %}
                        </select>
                        <div class="w3-padding-16">
                            <input class="w3-button w3-tag w3-dark-grey" type="submit" value="Consultar">
                            <input type="hidden" name="form-type" value="rankingDatesSubjectCredits"/>
                        </div>
                    </form>
                </div> 
            </div>
        </div>
    </div>

    <footer class="w3-center w3-light-grey w3-padding-48 w3-large">
        <p>Powered by MATCOM</a></p>
    </footer>
</body>

</html>