<!-- This template of the HomePage is a child of MainTemplate -->
{% extends "_main_template.html" %}

<!-- Load static files -->
{% load static %}

<!-- Put title -->
{%block title%}
Rechazar elemento
{% endblock %}

<!-- Put content -->
{% block content %}
    <form method="post"> {% csrf_token %}
    <h1>¿Rechazar elemeneto {{non_basic_element.name}}?</h1>
    <button type="submit">Confirmar</button>
    <a href={%url 'subject_professor' non_basic_element.study.subject.id %}>Cancelar</a>
</form>
{% endblock %}