<!-- This template of the HomePage is a child of MainTemplate -->
{% extends "_main_template.html" %}

<!-- Load static files -->
{% load static %}

<!-- Put title -->
{%block title%}
{{imparts.subject.name}} - {{imparts.professor.username}}
{% endblock %}

<!-- Put content -->
{% block content %}

    <a href={%url 'basic_elements' imparts.subject.id %}>Ver elementos básicos</a>

    <header>
        <h1>Solicitudes</h1>
    </header>
    <table border="2">
        <thead>
            <tr>
                <th>Resultado</th>
                <th>Elemento 1</th>
                <th>Elemento 2</th>
                <th>Justificación</th>
                <th>Opción</th>
            </tr>
        </thead>
        <tbody>
            {% for request in requests %}
            <tr>
                <td>{{request.name}}</td>
                <td>{{request.element1.name}}</td>
                <td>{{request.element2.name}}</td>
                <td>{{request.justification}}</td>               
                <td>
                <a href="{%url 'accept_element' request.id %}">Aceptar</a>
                <a href="{%url 'reject_element' request.id %}">Rechazar</a>
                </td>     
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}