{% extends "_base_template.html" %}
{% load static %}

{%block title%}
Administración {{subject.name}}
{% endblock %}

{% block content %}
<div class="w3-sand w3-grayscale w3-large" style="min-height: 100%;">
    <div class="w3-content w3-padding-64" style="max-width:1000px">
        <h2 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">{{subject.name}}</span></h2>
        <h4 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Profesores</span></h4>
        <table class="w3-table-all">
            <thead>
                <tr>
                    <th>Nombre de usuario</th>
                    <th>Nombre</th>                
                    <th>Apellidos</th>               
                    <th>Correo electrónico</th>              
                    {% if perms.imparts.delete_imparts %}
                    <th>Eliminar profesor de la asignatura</th>       
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for imp in imparts %}
                <tr>
                    <td>{{imp.professor.username}}</td>
                    <td>{{imp.professor.first_name}}</td>
                    <td>{{imp.professor.last_name}}</td>
                    <td >{{imp.professor.email}}</td>
                    {% if perms.imparts.delete_imparts %}                    
                    <td><a class="w3-button w3-tag w3-dark-grey" href="{% url 'delete_imparts' imp.id %}">Eliminar</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br> <br>
        <div class="w3-content w3-center">
            {%if perms.imparts.add_imparts%}
                <a class="w3-button w3-tag w3-dark-grey" href={%url 'create_imparts' subject.id %}>Añadir profesor</a>
            {%endif%}
        </div>
        <br><br>
        <h4 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Estudiantes</span></h4>
        <table class="w3-table-all">
            <thead>
                <tr>
                    <th>Nombre de usuario</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Correo electrónico</th>
                    {% if perms.study.delete_study %}
                        <th>Eliminar estudiante de la asignatura</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>       
                {% for stu in study %}            
                <tr>
                    <td>{{stu.student.username}}</td>
                    <td>{{stu.student.first_name}}</td>
                    <td>{{stu.student.last_name}}</td>
                    <td>{{stu.student.email}}</td>
                    {% if perms.study.delete_study %}                    
                    <td><a class="w3-button w3-tag w3-dark-grey" href="{% url 'delete_study' stu.id %}">Eliminar</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        
</div>

{% endblock %}


</html>