<!-- This template of the HomePage is a child of MainTemplate -->
{% extends "_main_template.html" %}

<!-- Load static files -->
{% load static %}

<!-- Put title -->
{%block title%}
Asignaturas
{% endblock %}

<!-- Put content -->
{% block content %}
    <header>
        <h1>Alumnos</h1>
    </header>
    <nav>
        <ul>
            {% for study in object_list %}
                <li>
                    <a href=>{{study.student.name}}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>

{% endblock %}