{% extends "_base_template.html" %}
{% load static %}

{%block title%}
Asignaturas
{% endblock %}

{% block content %}
<div class="w3-sand w3-grayscale w3-large" style=" min-height: 100%;">       
    <div class="w3-content w3-padding-64" style="max-width:600px">      
        <h4 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Asignaturas</span></h4>
        <table class="w3-table-all">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Opción</th>
                </tr>
            </thead>    
            <tbody>
                {% for subject in subjects %}
                <tr>
                    <td>{{subject.name}}</td>    
                    <td>     
                        <a class="w3-button w3-tag w3-dark-grey" href={%url 'select' subject.id%}>Ver</a> 
                        {%if perms.subjects.change_subject%}                           
                        <a class="w3-button w3-tag w3-dark-grey" href="{% url 'edit_subject' subject.id %}">Editar</a>
                        {%endif%}
                        {%if perms.subjects.delete_subject%}
                        <a class="w3-button w3-tag w3-dark-grey" href="{% url 'delete_subject' subject.id %}">Eliminar</a>
                        {%endif%}
                    </td>
                </tr>  
                {% endfor %}
            </tbody>
        </table>
    </div>

    <br> <br>

    <div class="w3-content w3-center" >
        {%if perms.subjects.add_subject%}
            <a class="w3-button w3-tag w3-dark-grey" href={% url 'create_subject' %}>Añadir nueva asignatura</a>
        {%endif%}
    </div>
</div>
{% endblock %}
</html>